# {{ ansible_managed }}

alias c='clear'
alias cd:='change_dir'
alias cd.='change_dir 1'
alias cd..='change_dir 2'
alias cd...='change_dir 3'
alias df="df -h"
alias du="du -sh"
alias rm:f='rm -rf'
alias s:rm:f='sudo rm -rf'
alias cp:r='cp -rv'
alias s:cp:r='sudo cp -rv'
alias cp:sync='rsync -azP'
alias find:f="find_file"
alias find:ext="find_ext"
alias history='history | grep'
alias mkcd='mk_cd'

# Get IP
alias ip:p='get_public_ip'
alias ip:l='get_local_ip'

alias myhost='cat /etc/hosts'
