# {{ ansible_managed }}

hostName="$(/usr/bin/cut -d. -f1 /proc/sys/kernel/hostname)"
upSeconds="$(/usr/bin/cut -d. -f1 /proc/uptime)"
secs=$((${upSeconds}%60))
mins=$((${upSeconds}/60%60))
hours=$((${upSeconds}/3600%24))
days=$((${upSeconds}/86400))
UPTIME=`printf "%d days, %02dh%02dm%02ds" "$days" "$hours" "$mins" "$secs"`

# get the load averages
read one five fifteen rest < /proc/loadavg

echo "$(tput setaf 157)
  ___  _      ___   _   _  ___      $(tput setaf 157)|$(tput setaf 246)|    $(tput setaf 157) HostName...........:$(tput setaf 246) $(tput bold)`perl -e "print uc('$hostName');"`$(tput sgr0)$(tput setaf 157)
 / __|| |    / _ \ | | | ||   \     $(tput setaf 157)|$(tput setaf 246)|    $(tput setaf 157) OS.................:$(tput setaf 246) `uname -srmo`$(tput setaf 157)
| (__ | |__ | (_) || |_| || |) |    $(tput setaf 157)|$(tput setaf 246)|    $(tput setaf 157) Uptime.............:$(tput setaf 246) ${UPTIME}$(tput setaf 157)
 \___||____| \___/  \___/ |___/     $(tput setaf 157)|$(tput setaf 246)|    $(tput setaf 157) Memory.............:$(tput setaf 246) `cat /proc/meminfo | grep MemFree | awk {'print $2/1000000'}`G (Free) / `cat /proc/meminfo | grep MemTotal | awk {'print $2/1000000'}`G (Total)
  ___   ___   ___  __   __ ___      $(tput setaf 157)|$(tput setaf 246)|    $(tput setaf 157) HDD................:$(tput setaf 246) `df -h --total | grep total | awk '{print $4}'` (Free) / `df -h --total | grep total | awk '{print $2}'` (Total)
 |   \ | _ \ / _ \ \ \ / /| __|     $(tput setaf 157)|$(tput setaf 246)|    $(tput setaf 157) Load Averages......:$(tput setaf 246) ${one}, ${five}, ${fifteen} (1, 5, 15 min)
 | |) ||   /| (_) | \ V / | _|      $(tput setaf 157)|$(tput setaf 246)|    $(tput setaf 157) Running Processes..:$(tput setaf 246) `ps ax | wc -l | tr -d " "`
 |___/ |_|_\ \___/   \_/  |___|     $(tput setaf 157)|$(tput setaf 246)|    $(tput setaf 157) Internal IP........:$(tput setaf 246) `ip a | grep glo | awk '{print $2}' | head -1 | cut -f1 -d/`
                                    $(tput setaf 157)|$(tput setaf 246)|    $(tput setaf 157) External IP........:$(tput setaf 246) `wget -q -O - http://icanhazip.com/ | tail`

$(tput sgr0)"

# UTF-8 Compass generation
export LC_ALL='en_US.UTF-8'
export LANG='en_US.UTF-8'